@*@model IEnumerable<MovieRecommender.Models.Movie>*@
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#rate" data-toggle="tab" aria-expanded="true">Rate Movies</a></li>
        <li class=""><a href="#recommendation" data-toggle="tab" aria-expanded="false">Recommendations</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="rate">
            <div class="container">

                <div class="row form-group">
                    <p style="padding: 10px;"></p>
                    <label class="control-label col-sm-1" for="title">Movie Title:</label>
                    <input class="form-control col-sm-4" type="text" id="title"/>
                    <button type="button" class="btn btn-success col-sm-1" id="search"><span class="fa fa-search">Search</span></button>
                </div>
                <div>
                    <table id="moviesTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Genre</th>
                            <th>Year</th>
                            <th>Rating</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>

        </div>
        <div id="ratingModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="/Content/spinner.gif" id="loading-indicator" style="display:none" />
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Rate Movie</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="rateuserId">User Id:</label>
                            <div class="form-control"><input id="rateuserId" type="text"/>
                            </div>
                        </div>
                        <div class="my-rating"></div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="recommendation">
            <div class="container">
                <div class="form-group">
                    <p style="padding: 10px;"></p>
                    <label class="col-sm-1 control-label" for="#userId">User Id:</label>
                    <input class="form-control col-sm-4" type="text" id="userId"/>
                    <button class="col-sm-2 btn btn-success" id="recommendMe" type="button">Recommend Me</button>
                </div>
                <div>
                    <table id="recomMovies" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Genre</th>
                            <th>Year</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
   
</div>
@section scripts
{
@Scripts.Render("~/bundles/movies")
}