@*@model IEnumerable<MovieRecommender.Models.Movie>*@
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#rate" data-toggle="tab" aria-expanded="true">Rate Movies</a></li>
        <li class=""><a href="#recommendation" data-toggle="tab" aria-expanded="false">Recommendations</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="rate">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="recommendation">
            <div class="container">
                <div class="form-group">
                    <p style="padding:10px;"></p>
                    <label class="col-sm-1 control-label" for="#userId">User Id:</label>
                    <input class="form-control col-sm-4" type="text" id="userId" />
                    <button class="col-sm-2 btn btn-success"  type="button">Recommend Me</button>
                </div>
                <div>
                    <table class="table">
                        <thead>

                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-3" style="margin-bottom:15px">

        @*<ul>
            @{
                foreach (var item in Model)
                {
                    <li>@item.Title (@item.Year) ...@item.Genre</li>
                }
            }

        </ul>*@

        <div>
            <h2>Search Movie</h2>
            <input type="text" id="movieTitle" />
            <input type="button" value="Search" onclick="find();" />
            <ul id="movies"/>
            <p id="error"></p>
        </div>

        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script>
            var uri = 'api/movies';
            function find() {
                var title = $('#movieTitle').val();
                    // Send an AJAX request
                $.getJSON(uri + '/' + title, function() {
                    console.log( "success" );
                })
                        .done(function(data) {
                            // On success, 'data' contains a list of products.
                            $.each(data,
                                function(key, item) {
                                    // Add a list item for the product.
                                    $('<li>', { text: formatItem(item) }).appendTo($('#movies'));
                                });
                        }
                        )
                        .fail(function (jqXHR, textStatus, err) {
                            $('#error').text('Error: ' + err);
                        })
      .always(function () {
          console.log("complete");
      });
}
            function formatItem(item) {
                return item.title + ': $' + item.year + ': $' + item.genre;
            }

        </script>


    </div>
</div>